.form{
 width: 100%;
 align-items: center;
 justify-content: center;
 display: flex;
}

.input{
    padding: 10px;
    margin-right: 10px;
}

.button {
    text-align: center;
    font-size: 25px;
    color: #FFF;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #0056b3;
    transition: background-color .3s ease;
}